# Creating Data Frames Using Series

In [76]:
import pandas as pd
import numpy as np

In [77]:
# Task 1
math=pd.Series(np.random.randint(30,100,10))
print('Student maths marks:\n',math)

Student maths marks:
 0    75
1    46
2    63
3    34
4    54
5    31
6    30
7    71
8    88
9    72
dtype: int32

In [78]:
# Task 2
physics=pd.Series(np.random.randint(30,100,10))
print('Student maths marks:\n',physics)

Student maths marks:
 0    50
1    58
2    53
3    56
4    67
5    98
6    73
7    83
8    33
9    52
dtype: int32

In [79]:
total=math+physics
print('student qualified for the olympiad:\n',total>=150)
print('\nstudent qualified for the olympiad:\n',total[total>=150])

student qualified for the olympiad:
 0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8    False
9    False
dtype: bool

student qualified for the olympiad:
 7    154
dtype: int32

In [80]:
# Task 3
diff=math-physics
print('The difference is:\n',diff)
print('\nThe student marks in maths greater then physics:\n',diff[diff>0])
print('\nThe student marks in maths less then physics:\n',diff[diff<0])

The difference is:
 0    25
1   -12
2    10
3   -22
4   -13
5   -67
6   -43
7   -12
8    55
9    20
dtype: int32

The student marks in maths greater then physics:
 0    25
2    10
8    55
9    20
dtype: int32

The student marks in maths less then physics:
 1   -12
3   -22
4   -13
5   -67
6   -43
7   -12
dtype: int32

In [81]:
# task 4
price=pd.Series(np.random.randint(30000,50000,20),index=np.arange(101,121))
print('Car model with car price:\n',price)

Car model with car price:
 101    45409
102    31545
103    45028
104    48366
105    30699
106    42737
107    38194
108    32126
109    37831
110    42815
111    43938
112    43559
113    39751
114    41108
115    44182
116    40572
117    30328
118    46796
119    30275
120    47495
dtype: int32

In [82]:
# Task 5
deal=price[price>40000]
print('The car having price greater then $40000:\n',deal)
print ('\nThe number of cars having price greater then $40000: ',deal.count())

The car having price greater then $40000:
 101    45409
103    45028
104    48366
106    42737
110    42815
111    43938
112    43559
114    41108
115    44182
116    40572
118    46796
120    47495
dtype: int32

The number of cars having price greater then $40000:  12

In [83]:
# Task 6
Max=price[(price.index>=111)&(price.index<=116)]
print('The list from 111 to 116:\n',Max)
print('\nThe highest price from the listed models :',Max.max())

The list from 111 to 116:
 111    43938
112    43559
113    39751
114    41108
115    44182
116    40572
dtype: int32

The highest price from the listed models : 44182

In [84]:
# Task 7
cars=price[(price<40000)&(price>30000)]
print('The car having price between $30000 and $40000:\n',cars)
print ('\nThe number of cars having price between $30000 and $40000: ',cars.count())

The car having price between $30000 and $40000:
 102    31545
105    30699
107    38194
108    32126
109    37831
113    39751
117    30328
119    30275
dtype: int32

The number of cars having price between $30000 and $40000:  8

In [85]:
# Task 8
avg_price=price.mean()
print('the list of cars above the average price:\n',price[price>avg_price])
print('the count of cars above the average price:',price[price>avg_price].count())

the list of cars above the average price:
 101    45409
103    45028
104    48366
106    42737
110    42815
111    43938
112    43559
114    41108
115    44182
116    40572
118    46796
120    47495
dtype: int32
the count of cars above the average price: 12

In [86]:
# Task 9
new_cars=pd.Series([34000,45000,54000],index=np.arange(201,204))
print('New cars list:\n',new_cars)
price=pd.concat([price,new_cars])
print('\nUpdated cars list:\n',price)

New cars list:
 201    34000
202    45000
203    54000
dtype: int64

Updated cars list:
 101    45409
102    31545
103    45028
104    48366
105    30699
106    42737
107    38194
108    32126
109    37831
110    42815
111    43938
112    43559
113    39751
114    41108
115    44182
116    40572
117    30328
118    46796
119    30275
120    47495
201    34000
202    45000
203    54000
dtype: int64

In [87]:
# task 10
print('The Original price:\n',price)
dis1=price[price>40000]
dis1=dis1*0.9
dis2=price[price<40000]
dis=pd.concat([dis1,dis2])
print('\nThe discounted price:\n',dis.sort_index())

The Original price:
 101    45409
102    31545
103    45028
104    48366
105    30699
106    42737
107    38194
108    32126
109    37831
110    42815
111    43938
112    43559
113    39751
114    41108
115    44182
116    40572
117    30328
118    46796
119    30275
120    47495
201    34000
202    45000
203    54000
dtype: int64

The discounted price:
 101    40868.1
102    31545.0
103    40525.2
104    43529.4
105    30699.0
106    38463.3
107    38194.0
108    32126.0
109    37831.0
110    38533.5
111    39544.2
112    39203.1
113    39751.0
114    36997.2
115    39763.8
116    36514.8
117    30328.0
118    42116.4
119    30275.0
120    42745.5
201    34000.0
202    40500.0
203    48600.0
dtype: float64

In [88]:
print('The Original price:\n',price)
dis3=price
dis3[dis3>40000]=dis3[dis3>40000]*0.9
print('\nThe discounted price:\n',dis3)

The Original price:
 101    45409
102    31545
103    45028
104    48366
105    30699
106    42737
107    38194
108    32126
109    37831
110    42815
111    43938
112    43559
113    39751
114    41108
115    44182
116    40572
117    30328
118    46796
119    30275
120    47495
201    34000
202    45000
203    54000
dtype: int64

The discounted price:
 101    40868.1
102    31545.0
103    40525.2
104    43529.4
105    30699.0
106    38463.3
107    38194.0
108    32126.0
109    37831.0
110    38533.5
111    39544.2
112    39203.1
113    39751.0
114    36997.2
115    39763.8
116    36514.8
117    30328.0
118    42116.4
119    30275.0
120    42745.5
201    34000.0
202    40500.0
203    48600.0
dtype: float64

In [91]:
# task 11
cars=price[(price<40000)&(price>30000)]
print('The car having price between $30000 and $40000:\n',cars)
print ('\nThe number of cars having price between $30000 and $40000: ',cars.count())
d_cars=dis[(dis<40000)&(dis>30000)]
print('The car having price between $30000 and $40000 after discount:\n',d_cars)
print ('\nThe number of cars having price between $30000 and $40000 after discount: ',d_cars.count())

The car having price between $30000 and $40000:
 102    31545.0
105    30699.0
106    38463.3
107    38194.0
108    32126.0
109    37831.0
110    38533.5
111    39544.2
112    39203.1
113    39751.0
114    36997.2
115    39763.8
116    36514.8
117    30328.0
119    30275.0
201    34000.0
dtype: float64

The number of cars having price between $30000 and $40000:  16
The car having price between $30000 and $40000 after discount:
 106    38463.3
110    38533.5
111    39544.2
112    39203.1
114    36997.2
115    39763.8
116    36514.8
102    31545.0
105    30699.0
107    38194.0
108    32126.0
109    37831.0
113    39751.0
117    30328.0
119    30275.0
201    34000.0
dtype: float64

The number of cars having price between $30000 and $40000 after discount:  16

In [90]:
# Task 12
cheap=dis.sort_values()
print('Five cheapest cars:\n',cheap[0:5])

Five cheapest cars:
 119    30275.0
117    30328.0
105    30699.0
102    31545.0
108    32126.0
dtype: float64