In [1]:
# Practice 1
n=int(input('Enter the number: '))
fact=1
while(n>0):
    fact=fact*n
    n=n-1
    
print(fact)

Enter the number: 5
120

In [20]:
# Practice 2
i=1
while(i<=20):
    c=0
    j=2
    while(j<=i//2):
        if(i%j==0):
            c=c+1
        else:
            break
        j=j+1
    if c==0:
        print(i,end=' ')
    i=i+1

1 2 3 5 7 9 11 13 15 17 19

In [19]:
# Practice 3
a=int(input('Enter 5 digit no. : '))
sums=0
rem=0
num=a
while a > 0:
    rem=a%10
    sums=sums+rem
    a=a//10
    
print('Sum of the number enter of ',num,' : ',sums)

Enter 5 digit no. : 612
Sum of the number enter of  612  :  9

In [11]:
# Practice 4
x=0
y=1
i=1
while(i<=7):
    z=x+y
    print(z,end=" ")
    x=y
    y=z
    i=i+1

1 2 3 5 8 13 21

In [21]:
# Practice 5

t1=('1',2,3,4)
t2=('1',2,3,4)
print('before t1',t1,'before t2',t2)
print('before id t1',id(t1),'before id t2',id(t2))
t1=t1+t2
print('after t1',t1,'after t2',t2)
print('after id t1',id(t1),'after id t2',id(t2))
# After concatenating the values of the tuple t1 is updated hence new id is allocated

before t1 ('1', 2, 3, 4) before t2 ('1', 2, 3, 4)
before id t1 2417574017360 before id t2 2417574017680
after t1 ('1', 2, 3, 4, '1', 2, 3, 4) after t2 ('1', 2, 3, 4)
after id t1 2417544205808 after id t2 2417574017680

In [23]:
#Practice 6
m={10,20,30,40,50}
n={30,40,50,60,70}
print('m = ',m,'n = ',n)
m.update(n)
print('m = ',m,'n = ',n)
# after updating m set with n the duplicates are removed

m =  {50, 20, 40, 10, 30} n =  {50, 70, 40, 60, 30}
m =  {70, 40, 10, 50, 20, 60, 30} n =  {50, 70, 40, 60, 30}

In [29]:
# Practice 7
port1 = {'FTP':1,'SSH':2,'telnet':3,'http':4}
x=list(port1.values())
i=0
while i<len(x):
    if x[i]%2==0:
        print(x[i])
    i=i+1

2
4

In [30]:
# Practice 8
dic={}
n=1
while n<= 15:
    dic[n]=n**2
    n=n+1
print(dic)
dic.update({100:10000})
print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 10000}

In [32]:
# Practice 9
port1={21:'FTP',22:'SSH',23:'telnet',80:'http'}
port2={}
values=list(port1.keys())
keys=list(port1.values())
n=0
while n<len(port1):
    port2.update({keys[n]:values[n]})
    n=n+1
print(port1)
print(port2)

{21: 'FTP', 22: 'SSH', 23: 'telnet', 80: 'http'}
{'FTP': 21, 'SSH': 22, 'telnet': 23, 'http': 80}

In [27]:
# Practice 10
Employee ={'Emp1':{'name':'Sara','Dept':'IT','Designastion':'Team Lead'},
           'Emp2':{'name':'Anna','Dept':'IT','Designastion':'Senior Software Engineer'},
           'Emp3':{'name':'Andy','Dept':'BioTech','Designastion':'Senior Software Engineer'},
           'Emp4':{'name':'Andy','Dept':'BioTech','Designastion':'Senior Software Engineer'}
          }
del(Employee['Emp4'])
print(Employee)

{'Emp1': {'name': 'Sara', 'Dept': 'IT', 'Designastion': 'Team Lead'}, 'Emp2': {'name': 'Anna', 'Dept': 'IT', 'Designastion': 'Senior Software Engineer'}, 'Emp3': {'name': 'Andy', 'Dept': 'BioTech', 'Designastion': 'Senior Software Engineer'}}